<!-- Main starts -->
<div role="main" class="container">
    <!-- Header starts -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="assets/images/openid_logo.svg" alt="Logo OpenID">
    </nav>
    <!-- Header ends -->
    <div class="card">
        <h5 class="card-header">Spring auth server simple sample</h5>
        <div class="card-body">
            <p class="caed-text">
                <a href="#" class="btn btn-primary" (click)="login()">Login</a>
            </p>
        </div>
    </div>
</div>